In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv("data scientist cleaned.csv")

In [4]:
df.columns

Index(['company', 'job title', 'location', 'job description',
       'salary estimate', 'company_size', 'company_type', 'company_sector',
       'company_industry', 'company_founded', 'company_revenue', 'hourly',
       'rating', 'state', 'city', 'age', 'python_needed', 'sas_needed',
       'tableau_needed', 'matlab_needed', 'spark_needed', 'tensorflow_needed',
       'pytorch_needed', 'hadoop_needed', 'job_simp', 'seniority'],
      dtype='object')

In [7]:
df_model = df[['salary estimate','company_size', 'company_type', 'company_sector',
       'company_industry','company_revenue', 'hourly','state','city','age','python_needed', 'sas_needed',
       'tableau_needed', 'matlab_needed', 'spark_needed', 'tensorflow_needed','pytorch_needed', 'hadoop_needed', 'job_simp', 'seniority']]

In [8]:
df_dum = pd.get_dummies(df_model)

In [9]:
df_dum

,salary estimate,hourly,age,python_needed,sas_needed,tableau_needed,matlab_needed,spark_needed,tensorflow_needed,pytorch_needed,...,city_Washington,city_West Lafayette,city_Wilmington,job_simp_analyst,job_simp_data scientist,job_simp_director,job_simp_machine learning engineer,job_simp_na,seniority_junior,seniority_senior
0,164360.0,1,17,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,107500.0,0,-1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,91197.0,0,21,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,106970.0,0,277,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,105960.0,0,-1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,114975.0,0,100,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
241,125555.0,0,54,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
242,127662.0,0,4,1,0,0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,1
243,99054.0,0,76,1,0,0,0,0,1,1,...,0,0,0,0,1,0,0,0,1,0
244,85420.0,1,17,1,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0